<h1>Movies</h1>


    {{#each result}}
        {{#if titleMatch}}

        <p>{{result.Title}}</p>
        <p>{{Year}}</p>
        <img src="{{Poster }}" />
        <a href="/movie?imdbid={{imdbID}}"><br>{{Title}}</a>

        {{/if}}
    {{/each}}


